<div class="collapsible_post_wrapper">
            <header class="major collapsible_post_h1">
                <h1 style="text-transform: capitalize">{{ post.title }}</h1>
            </header>
            {% if post.image %}
                <span class="image">
                        <img src="{{ site.baseurl }}/{{ post.image }}" alt="" />
                </span>
            {% endif %}
            <div class="short">
            </div>
            <div class="full">
                    {{ post.content }}	
            </div>
            <span class="actions button small showmorebutton" style="text-align:left">Read More</span>
</div>